.navbar-login{
  /* display */
}

.navbar-container{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-links {
  float: left;
}

.navbar-links {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

.navbar-right-side{
  float: right !important;
}